.totalProducts {
    margin: auto;
    border-radius: 20px;
    background-color: #454c4b;
    color: white;
}

.btn-outline-danger, .btn-outline-success {
    width: 180px;
    color: #454c4b;
    background-color: white;
    border-color: #454c4b;
    border-radius: 10px;
}

.btn-outline-danger:hover {
    background-color: #ff3636;
}

.btnOrden {
    margin-top: 15px;
}

.btnOrden:hover {
    background-color: #86c6c6;
}

@media (max-width: 460px) {
    .totalProducts {
        width: 280px;      
    }
}

