.btnCarrito {
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 0px 10px;
    background-color: #c6c6c6;
    text-decoration: none;
    color: black;
}

.btnCarrito {
    color: #454c4b;
}

.btnCarrito:hover {
    color: white;
}