.picture {
    width: 28.5rem;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.padre-detalles {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.detalles {
    width: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem; 
}

.detalles h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.item-description {
    max-width: 420px;
}

.precio {
    font-size: 1.5rem;
}

.goCart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    width: 400px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.stock {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 150px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
}

.stock:hover {
    background-color: crimson;
    color: bisque;
}

@media (max-width: 460px) {
    .picture {
        width: 280px;
    }

    .detalles {
        width: 280px;
    }

    .goCart {
        width: 280px;
    }
}