.picture {
    width: 28.5rem;
    box-shadow: 2px 2px 12px black;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
}

.padre-detalles {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.detalles {
    display: block;
    margin: 1rem;
    padding: 2rem;
    font-family: sans-serif;  
}

.detalles h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.precio {
    font-size: 1.5rem;
}

.goCart {
    display: flex;
    justify-content: center;
}