.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: auto;
    align-self: center;
}

.counter p {
    margin: auto 0;
}

.btnCounter {
    width: 1.5rem;
    border-radius: 20%;
    background-color: white;
    color: #6c757d;
    border: 1px solid #6c757d;
    margin: 0 10px;
}

.btnCounter:hover {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
}

@media (max-width: 460px) {
    .counter {
        width: 280px;
    }
}
